{% extends "base.html" %}

{% block title %}{{ questions.title }}{% endblock %}

{% block content %}
  <h1>{{ questions.title }}</h1>
    Published {{ questions.added_at }} by {{ questions.author }}
  {{ question.text }}

  {% block answers %}
    <h2>Answers:</h2>
    {% for answer in answers %}
      <div class="answer">
        <p class="info">
          Answer by {{ answer.author }} [{{ answer.added_at }}]
        </p>
        {{ answer.text|linebreaks }}
      </div>
      {% empty %}
      <p>There are no answers yet.</p>
    {% endfor %}
  {% endblock %}
  
{% endblock %}